<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <script src="/javascripts/vue.js"></script>

</head>

<body>
  <div id='app' class='app'>
     
    开始时间<input id="start" class="start" type="" value="" v-model="startTime">
    结束时间<input id="end" class="end" type="" value="" v-model="endTime">
    <br />
    <br><br>------------------------------------------------------------
    --<h2>活动根目录</h2>-----------------------------------------------------------------
    <br />
    标题<input id="" class="" type="" value="" v-model="dtitle">
    code<input id="" class="" type="" value="" v-model="dcode">
    <br>
    图片<input id="" class="" type="" value="" v-model="dimg">
    背景颜色<input id="" class="" type="" value="" v-model="dbgcolor">
    <br>
    <button v-on:click="createDir">创建根目录</button>
    <button v-on:click="selectDir">查询本次目录</button>
    <br>--------------------------------------------------------------------
    <br>
    <h2>活动1目录</h2>--------------------------------------------------------------------
    <br>
    开始目录id<input id="" class="" type="" value="" v-model="firstId">
    最后目录id<input id="" class="" type="" value="" v-model="endId">
    <br>
    图片目录 <input id="" class="" type="" value="" v-model="zdirimg" style="width:500px;">
    <br>
    图片列表 <input id="" class="" type="" value="" v-model="zimgs" style="width:500px;">
    <br>
    子目录<input id="" class="" type="" value="" v-model="zdir" style="width: 800px;">
    <!-- <input id="" class="" type="" value="" v-model="dbgcolor" > -->
    <!-- 标题<input id="" class="" type="" value="" value="{{dtitle}}" >  -->
    <br>

    <br>
    <button v-on:click="createZDir">创建子目录</button>
    <br>
    <br>--------------------------------------------------------------------<br>
    <h2>创建目录和商品关联关系</h2>
    --------------------------------------------------------------------<br>
    开始目录zid<input id="" class="" type="" value="" v-model="zfirstId">
    最后目录zid<input id="" class="" type="" value="" v-model="zendId">
    <br>
    活动数据表 <input id="" class="" type="" value="" v-model="tablename">  
    
    <br>
    <button v-on:click="createDirSku">创建会场目录和商品关联关系</button>
    <br>
    <button v-on:click="createDirSku(1)">创建会场目录和商品关联关系 -- 区分店</button>
    <br>
    <button v-on:click="createDirSkuAct">创建活动目录和商品关联关系</button>
    <br>
    <button v-on:click="createDirSkuAct(1)">创建活动目录和商品关联关系 -- 区分店</button>
    <br>
    <br>
    <br>--------------------------------------------------------------------<br>
    <h2>活动 act</h2>
    --------------------------------------------------------------------<br>
    活动id<input id="" class="" type="" value="" v-model="actId">
    <br><button v-on:click="createAct">创建活动</button><br>

    <br>
    <br>--------------------------------------------------------------------
    <h4>活动 第二件x折 item range detail</h4>
    --------------------------------------------------------------------<br>
    第二件 <input id="" class="" type="" value="" v-model="discount"> 折
    <br><button v-on:click="createActInfo">创建活动的目录item range detail</button><br>
    <br>
    <br>--------------------------------------------------------------------
    <h4>活动 直降 item range detail</h4>
    --------------------------------------------------------------------<br>
    <br><button v-on:click="createActZhijiang">直降创建活动的目录item range detail</button><br>

    <br>
    <br>
    <br>--------------------------------------------------------------------
    <h4>活动 满x件x折 item range detail</h4>
    --------------------------------------------------------------------<br>
    <input id="" class="" type="" value="" v-model="zcount">件<input id="" class="" type="" value="" v-model="discount">
    折
    <br><button v-on:click="createActManjian">创建活动的目录item range detail</button><br>

    <br>

    <br>--------------------------------------------------------------------
    <h4>sm_image_link</h4>
    --------------------------------------------------------------------<br>
    详情页的横图 <input id="" class="" type="" value="" v-model="detailimageURL">
    <br>
    详情页的横图比例 <input id="" class="" type="" value="" v-model="detailimageRatio">
    <br>

    <br>
    <button v-on:click="createActInfoDetailImage">创建活动详情页横图的目录item range detail</button><br>
    <br>
    <br>
    banner图 <input id="" class="" type="" value="" v-model="bannerimg" style="width:500px;">
    <br>
    banner链接 <input id="" class="" type="" value="" v-model="linkurl" style="width:800px;">
    <br>

    <br>
    <button v-on:click="createImageLink">创建banner</button> <button v-on:click="createImageLinkWindow">创建弹出框</button>
    <br>
    <br>
    labelimage 详情页角标 <input id="" class="" type="" value="" v-model="labelimage" style="width:800px;">
    <br>
    <button v-on:click="createLabelImage">创建详情页角标 </button>
    <br>
    <br>
    <br>
    <br>
    <button v-on:click="addtest">add</button>
    <div v-for="item of dirlist">
      <!-- {{ item }} dd安安 -->
      {{item.dir_id}} {{item.dir_code}} {{item.parent_dir_img}} {{item.dir_name}} {{item.dir_img}} {{item.pharmacy_id}}

    </div>
    <br>
    <br>
    <br>
    <br>
    <div v-for="item of actlist">
      <!-- {{ item }} dd安安 -->
      {{item}}  

    </div>

    <button v-on:click="selectDir">查询本次目录</button>
    <br>
    <br>
    <button v-on:click="selectAct">查询本次活动</button>
    <br>
    <br>
    <button v-on:click="selectLabel">查询label 列表页的标签</button>
    <br>
    <br>
    <!-- <ul id="example-1">
              <li v-for="item in dirlist">
                {{ item }}   {{ item.dir_id }}  item["dir_id"]  item.dir_id
              </li>
            </ul> -->
    <!-- <button v-on:click="test">222222</button> -->
    <a class="downloadbtnps" id="downloadbtnps"></a>
    <!-- <a href={{ downloadbtn }}>{{ downloadbtn }}</a> -->
    <div id="menu" class="menu"></div>
  </div>


</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
  var app = new Vue({
    el: '#app',
    
    data: {
     actlist: [],
      dirlist: [99, 88],
      tablename: '2001_act_new',
      startTime: '2020-01-11 00:00:00',
      endTime: '2020-02-10 23:59:59',
      message: 'Hello Vue!',
      dtitle: '药快到健康年货节',
      dcode: 'act212',
      dimg: 'http://image.ykd365.cn/act/2001/1.jpg',
      dbgcolor: 'dc1114',
      zdir: '优惠券,年货爆品,3件85折,更多品类专场,家庭常备,关爱父母,饮食男女,快乐儿童',
      zdirimg: 'http://image.ykd365.cn/act/2001/',
      zimgs:'',
      firstId: '',
      endId: '',
      zfirstId: '',
      zendId: '',
      actId: 0,
      discount: '',
      zcount: '',
      detailimageRatio: 501,
      detailimageURL: "http://image.ykd365.cn/act/191213/detail.png",

      bannerimg: "http://image.ykd365.cn/act/191213/banner.jpg",
      linkurl: "http://deve.ykd365.com/medstore/actUserpage/vertical_1913?",

      labelimage: "http://image.ykd365.cn/act/191213/list_sd.png"

    },
    methods: {
      addtest: function () {

        console.log(this.dirlist);
        // this.dirlist.add(this.dirlist.length);
        //this.dirlist[1] = 77;
        Vue.set(this.dirlist, 3, 6677);
      },
      test: function () {

        axios({
          method: 'get',
          url: '/act/test2?dtitle=' + dtitle + '&dcode=' + dcode + '&dimg=' + dimg + '&dbgcolor=' + dbgcolor

        }).then(function (resp) {
          console.log(resp.data);
        }).catch(resp => {
          console.log('请求失败：' + resp.status + ',' + resp.statusText);
        });
      },
      
   
      // 创建根目录
      createDir: function () {
        console.log('dtitle' + this.dtitle);
        var _this = this;
        axios({
          method: 'get',
          url: '/act/createDir?dtitle=' + this.dtitle + '&dcode=' + this.dcode + '&dimg=' + this.dimg +
            '&dbgcolor=' + this.dbgcolor

        }).then(function (resp) {
          console.log(resp.data);
          console.log(resp.data.fromId, resp.data.toId);
          _this.firstId = resp.data.fromId;
          _this.endId = resp.data.toId;
        }).catch(resp => {
          console.log('请求失败：' + resp.status + ',' + resp.statusText);
        });
      },
      // 创建1目录
      createZDir: function () {
        console.log('zdirimg' + this.zdirimg);
        var _this = this;
        axios({
          method: 'get',
          url: '/act/createZDir?zdir=' + this.zdir + '&zdirimg=' + this.zdirimg + '&firstId=' + this.firstId +
            '&endId=' + this.endId +'&zimgs='+this.zimgs

        }).then(function (resp) {
          console.log(resp.data);
          var ret = resp.data.ret;
          if (ret == 1) {
            _this.zfirstId = resp.data.fromId;
            _this.zendId = resp.data.toId;
            alert("新增成功");
          }
        }).catch(resp => {
          console.log('请求失败：' + resp.status + ',' + resp.statusText);
        });
      },
      createDirSku: function (param) {
        console.log('param' + param);

        axios({
          method: 'get',
          url: '/act/createDirSku?firstId=' + this.zfirstId + '&endId=' + this.zendId + "&tablename=" + this
            .tablename+"&ifAllInOne="+param

        }).then(function (resp) {
          console.log(resp.data);
          var ret = resp.data.ret;
          if (ret == 1) {
            alert("新增成功");
          }
        }).catch(resp => {
          console.log('请求失败：' + resp.status + ',' + resp.statusText);
        });
      },
      createDirSkuAct: function (param) {
        console.log('param' + param);

        axios({
          method: 'get',
          url: '/act/createDirSkuAct?firstId=' + this.zfirstId + '&endId=' + this.zendId + "&tablename=" + this
            .tablename+"&ifAllInOne="+param

        }).then(function (resp) {
          console.log(resp.data);
          var ret = resp.data.ret;
          if (ret == 1) {
            alert("新增成功");
          }
        }).catch(resp => {
          console.log('请求失败：' + resp.status + ',' + resp.statusText);
        });
      },
      createAct: function () {
        var _this = this;
        axios({
          method: 'get',
          url: '/act/createAct?startTime=' + this.startTime + '&endTime=' + this.endTime + "&name=" + this
            .dtitle

        }).then(function (resp) {
          console.log(resp.data);
          var ret = resp.data.ret;
          if (ret == 1) {
            _this.actId = resp.data.actId;
          }
        }).catch(resp => {
          console.log('请求失败：' + resp.status + ',' + resp.statusText);
        });
      },
      createActZhijiang: function () {
        var _this = this;
        axios({
          method: 'get',
          url: '/act/createActZhijiang?zcode=' + this.dcode + this.discount + 'z&discount=' + this.discount +
            "&actId=" + this.actId

        }).then(function (resp) {
          console.log(resp.data);
          var ret = resp.data.ret;
          if (ret == 1) {

          }
        }).catch(resp => {
          console.log('请求失败：' + resp.status + ',' + resp.statusText);
        });

      },
      createActManjian: function () {
        var _this = this;
        axios({
          method: 'get',
          url: '/act/createActManjian?zcode=' + this.dcode + this.zcount + this.discount + 'z&discount=' +
            this.discount + "&actId=" + this.actId + '&zcount=' + this.zcount

        }).then(function (resp) {
          console.log(resp.data);
          var ret = resp.data.ret;
          if (ret == 1) {

          }
        }).catch(resp => {
          console.log('请求失败：' + resp.status + ',' + resp.statusText);
        });

      },

      createActInfo: function () {
        var _this = this;
        axios({
          method: 'get',
          url: '/act/createActInfo?zcode=' + this.dcode + this.discount + 'z&discount=' + this.discount +
            "&actId=" + this.actId

        }).then(function (resp) {
          console.log(resp.data);
          var ret = resp.data.ret;
          if (ret == 1) {

          }
        }).catch(resp => {
          console.log('请求失败：' + resp.status + ',' + resp.statusText);
        });
      },
      createActInfoDetailImage: function () {
        var _this = this;
        axios({
          method: 'get',
          url: '/act/createActInfoDetailImage?zcode=' + this.dcode + 'detail&imageRatio=' + this
            .detailimageRatio + "&actId=" + this.actId + "&imageURL=" + this.detailimageURL

        }).then(function (resp) {
          console.log(resp.data);
          var ret = resp.data.ret;
          if (ret == 1) {

          }
        }).catch(resp => {
          console.log('请求失败：' + resp.status + ',' + resp.statusText);
        });
      },
      createImageLink: function () {
        var _this = this;
        axios({
          method: 'get',
          url: '/act/createImageLink?title=' + this.dtitle + '&firstId=' + this.firstId + "&endId=" + this
            .endId + "&startTime=" + this.startTime + "&endTime=" + this.endTime + "&img=" + this.bannerimg +
            "&linkurl=" + this.linkurl

        }).then(function (resp) {
          console.log(resp.data);
          var ret = resp.data.ret;
          if (ret == 1) {

          }
        }).catch(resp => {
          console.log('请求失败：' + resp.status + ',' + resp.statusText);
        });
      },
      createImageLinkWindow: function () {
        var _this = this;
        axios({
          method: 'get',
          url: '/act/createImageLinkWindow?title=' + this.dtitle + '&firstId=' + this.firstId + "&endId=" +
            this.endId + "&startTime=" + this.startTime + "&endTime=" + this.endTime + "&img=" + this
            .bannerimg + "&linkurl=" + this.linkurl

        }).then(function (resp) {
          console.log(resp.data);
          var ret = resp.data.ret;
          if (ret == 1) {

          }
        }).catch(resp => {
          console.log('请求失败：' + resp.status + ',' + resp.statusText);
        });
      },
      createLabelImage: function () {
        var _this = this;
        axios({
          method: 'get',
          url: '/act/createLabelImage?title=' + this.dtitle + '&tablename=' + this.tablename + "&img=" + this
            .labelimage

        }).then(function (resp) {
          console.log(resp.data);
          var ret = resp.data.ret;
          if (ret == 1) {

          }
        }).catch(resp => {
          console.log('请求失败：' + resp.status + ',' + resp.statusText);
        });
      },
      selectDir: function () {

        var _this = this;
        axios({
          method: 'get',
          url: '/act/selectDir?dcode=' + this.dcode

        }).then(function (resp) {
          console.log(resp.data.data);
          var ret = resp.data.ret;
          if (ret == 1) {
            _this.dirlist = resp.data.data;
          }
        }).catch(resp => {
          console.log('请求失败：' + resp.status + ',' + resp.statusText);
        });
      },
      selectAct: function () {

          var _this = this;
          axios({
            method: 'get',
            url: '/act/selectAct?actId=' + this.actId

          }).then(function (resp) {
            console.log(resp.data.data);
            var ret = resp.data.ret;
            if (ret == 1) {
              _this.actlist = resp.data.data;
            }
          }).catch(resp => {
            console.log('请求失败：' + resp.status + ',' + resp.statusText);
          });
        },
        updateActInfo: function () {

            var _this = this;
            axios({
              method: 'get',
              url: '/act/updateActInfo'

            }).then(function (resp) {
              console.log(resp.data.data);
              var ret = resp.data.ret;
              if (ret == 1) {
                // _this.dirlist = resp.data.data;
              }
            }).catch(resp => {
              console.log('请求失败：' + resp.status + ',' + resp.statusText);
            });
          },
    }
  })
</script>

</html>