<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <!-- <script src="../routes/index.js"></script> -->
    <!-- {% include "../routes/index.js" %}  -->
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <!-- 生产环境版本，优化了尺寸和速度 -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script>  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script src="/javascripts/jquery.min.js"></script> 

 
</head>
<body >
    <!-- {{ content }} -->
    <!-- <button onclick="event1()"></button> -->
     <!-- <input id="test" class="test" type="" value="4444" >  -->
     开始时间<input id="start" class="start" type="" value="" > 
     结束时间<input id="end" class="end" type="" value="" > 
     <br/>
   
     <input type="button" value="北京配送明细" src="" onclick='selectPS("北京")' >
     <!-- <input type="button" value="下载{{ psTip }}" src="" onclick='dowloadPSURL()' > -->
     <a href={{ downloadbtnps }}>{{ downloadbtnps }}</a>
     <br/>
     <input type="button" value="北京销售明细签收" src="" onclick='selectXS("北京","签收")' >
     <!-- <input type="button" value="下载{{ xsTip }}" src="" onclick='dowloadXSURL()' > -->
     <a href={{ downloadbtnxs }}>{{ downloadbtnxs }}</a>
     <br/>
     <input type="button" value="北京销售明细下单" src="" onclick='selectXS("北京","下单")' >
   
     

   <br/>
   <input type="button" value="北京商品明细" src="" onclick='selectSPMX("北京")' >
    <input type="button" value="天一商品明细" src="" onclick='selectSPMX("天一")' >
	<input type="button" value="富锦商品明细" src="" onclick='selectSPMX("富锦")' >
	<input type="button" value="1600铜川欣臣商品明细" src="" onclick='selectSPMX("1600")' >
	<input type="button" value="1601商品明细" src="" onclick='selectSPMX("1601")' >
    <br>
    <input type="button" value="北京用户留存" src="" onclick='selectLC("北京")' >
    <input type="button" value="天一用户留存" src="" onclick='selectLC("天一")' >
    <br>
    <input type="button" value="北京统计" src="" onclick='selectTJ("北京")' >
    <input type="button" value="天一统计" src="" onclick='selectTJ("天一")' >
    <br>
    <input type="button" value="北京用户统计 注册时间 首单时间 各种金额" src="" onclick='selectYHTJ("北京")' >
    <input type="button" value="天一用户统计" src="" onclick='selectYHTJ("天一")' >
    <br>
    <br>
    <input type="button" value="查询券包" src="" onclick='selectQB()' >

    <br>
    <input type="button" value="目录" src="" onclick='selectDirs()' >
    <a class="downloadbtnps" id="downloadbtnps" ></a>
    <!-- <a href={{ downloadbtn }}>{{ downloadbtn }}</a> -->
<div id="menu" class="menu"></div>
</body>
<script>
$(function(){
    
  var date = new Date();
  var year = date.getFullYear();
  var month = date.getMonth()+1;
  var week = date.getDay();
  var startday = week==1?date.getDate()-3:date.getDate()-1;
  var endday = date.getDate()-1;

   start = year +"-"+ month +"-"+ startday;
   end = year +"-"+ month +"-"+ endday;

//    $(".downloadbtnps").val("eeeeee");
//    $(".downloadbtnps").html("rrr");
//    $(".downloadbtnps").text("ettteeeee");
//   console.log(start+"--"+end +$(".downloadbtnps").val());
//   console.log($(".start").val()+'-=='+ $(".end").val());
//   console.log($(".end").val());
if(!$(".start").val()){
    $(".start").val(start);
}
if(!$(".end").val()){
    $(".end").val(end);
} 
//   res.render('index', { title: '数据' ,content:'从这里来',dowloadURL:'testtest.xlsx',start:start,end:end});
});

// window.onload = function() { 
//     console.log("3444");
// }; 
    function selectDirs() {
      console.log();
        $.ajax({
            type:"GET",
            url:"/selectDirs",
            dataType:"json",
            success:function (result) {
                console.log("selectDirs  success--:"+result);
                var array = result;
                for (let index = 0; index < array.length; index++) {
                    const element = array[index];
                    var addHtml = '<a class="" id=" " href='+ element +' >'+ element +' </a><br/>';
        	    $("#menu").append(addHtml);
                }
               
            },
            error: function(error){
console.log(error);
            },

            completefunction (a,result) {
              console.log(a,result);
            }
        })
    }
	
function selectSPMX(city){
        var startTime = document.getElementById("start").value;
        var endTime = document.getElementById("end").value;
        var name = city+"商品明细";
//         location.href = '/selectPS?filename='+name+ "&startTime=" + startTime+ "&endTime=" + endTime+ "&city="+city ;
// console.log('/selectPS?filename='+name+ "&startTime=" + startTime+ "&endTime=" + endTime+ "&city="+city);

        $.ajax({
            type: "GET",
            url: '/selectSPMX?filename='+name+ "&city="+city,
            dataType: "json",
            success: function(result) {
                  console.log("success--:"+result+result.filepath);
                $(".downloadbtnps").html(result.filepath);
                $(".downloadbtnps").attr("href",result.filepath);
                // window.open(name+'.xlsx');


                var addHtml = '<a class="" id=" " href='+ result.filepath +' >'+ result.filepath +' </a><br/>';
        	    $("#menu").append(addHtml);
        	 
			
                // window.open(name+'.xlsx');
            }
        })


        // window.open(name+'.xlsx');
    }
	
function selectLC(city){
        var startTime = document.getElementById("start").value;
        var endTime = document.getElementById("end").value;
        var name = city+"用户留存"+ startTime+"-" +endTime + "";
//         location.href = '/selectPS?filename='+name+ "&startTime=" + startTime+ "&endTime=" + endTime+ "&city="+city ;
// console.log('/selectPS?filename='+name+ "&startTime=" + startTime+ "&endTime=" + endTime+ "&city="+city);

        $.ajax({
            type: "GET",
            url: '/selectLC?filename='+name+ "&startTime=" + startTime+ "&endTime=" + endTime+ "&city="+city,
            dataType: "json",
            success: function(result) {
                  console.log("success--:"+result+result.filepath);
                $(".downloadbtnps").html(result.filepath);
                $(".downloadbtnps").attr("href",result.filepath);
                // window.open(name+'.xlsx');


                var addHtml = '<a class="" id=" " href='+ result.filepath +' >'+ result.filepath +' </a><br/>';
        	    $("#menu").append(addHtml);
        	 
			
                // window.open(name+'.xlsx');
            }
        })


        // window.open(name+'.xlsx');
    }
     

    

    function selectTJ(city){
        var startTime = document.getElementById("start").value;
        var endTime = document.getElementById("end").value;
        var name = city+"统计"+ startTime+"-" +endTime + "";
//         location.href = '/selectPS?filename='+name+ "&startTime=" + startTime+ "&endTime=" + endTime+ "&city="+city ;
// console.log('/selectPS?filename='+name+ "&startTime=" + startTime+ "&endTime=" + endTime+ "&city="+city);

        $.ajax({
            type: "GET",
            url: '/tj?filename='+name+ "&startTime=" + startTime+ "&endTime=" + endTime+ "&city="+city,
            dataType: "json",
            success: function(result) {
                  console.log("success--:"+result+result.filepath);
                $(".downloadbtnps").html(result.filepath);
                $(".downloadbtnps").attr("href",result.filepath);
                var addHtml = '<a class="" id=" " href='+ result.filepath +' >'+ result.filepath +' </a><br/>';
                $("#menu").append(addHtml);
                // window.open(name+'.xlsx');
            }
        })


        // window.open(name+'.xlsx');
    }

    function selectYHTJ(city){
        var startTime = document.getElementById("start").value;
        var endTime = document.getElementById("end").value;
        var name = city+"统计"+ startTime+"-" +endTime + "";
//         location.href = '/selectPS?filename='+name+ "&startTime=" + startTime+ "&endTime=" + endTime+ "&city="+city ;
// console.log('/selectPS?filename='+name+ "&startTime=" + startTime+ "&endTime=" + endTime+ "&city="+city);

        $.ajax({
            type: "GET",
            url: '/selectYHTJ?filename='+name+ "&startTime=" + startTime+ "&endTime=" + endTime+ "&city="+city,
            dataType: "json",
            success: function(result) {
                  console.log("success--:"+result+result.filepath);
                $(".downloadbtnps").html(result.filepath);
                $(".downloadbtnps").attr("href",result.filepath);
                var addHtml = '<a class="" id=" " href='+ result.filepath +' >'+ result.filepath +' </a><br/>';
                $("#menu").append(addHtml);
                // window.open(name+'.xlsx');
            }
        })


        // window.open(name+'.xlsx');
    }
// function testdownload(params) {
//     $.ajax({
//         type: "GET",
//         url: '/testdownload',
//         dataType: "json",
//         success: function(result,err){
//             console.log("res----------------------==========:"+result.ttt+err);
//             window.open(result.ttt);
//         }
//     });
// }
function dowloadAll(){
    selectPS();
    selectXS();
  
    // window.open(result.ttt);
    // window.open(result.ttt);
    // var startTime = document.getElementById("start").value;
    //     var endTime = document.getElementById("end").value;
    //     var name = "3北京配送明细"+ startTime+"-" +endTime + "";
    //     location.href = '/selectPS?filename='+name+ "&startTime=" + startTime+ "&endTime=" + endTime;

        // alert(1234);
        // $.ajax({
        //     type: "GET",
        //     url: '/selectPS?filename='+name+ "&startTime=" + startTime+ "&endTime=" + endTime,
        //     // beforeSend: function(xhr) {
        //     //     // xhr.setRequestHeader("authorization", "Bearer " + loadData("token"));
        //     // },
        //     // data: {projectId: projectId},
        //     dataType: "json",
        //     success: function(result) {
        //         // console.log("success--:"+result);
        //         // alert(result);

        //         // alert(result.filepath);
        //         // location.href = '{{ result.filepath }}';
        //         window.open(result.filepath);
              
        //         // location.href = result.filepath；
        //         // if (result.statusCode == 0) {
        //         //     location.reload();
        //         // } else if (result.statusCode == 1) {
        //         //     bootbox.dialog({
        //         //         message : "<h4 style='font-family: 微软雅黑'><span class='text-danger'><i class='ace-icon fa fa-times red'></i> 取消失败，用户不存在</span></h4>",
        //         //         buttons : {
        //         //             "success" : {
        //         //                 "label" : "关 闭",
        //         //                 "className" : "btn-sm btn-danger"
        //         //             }
        //         //         }
        //         //     });
        //         //     }
        //     }
        // })
    
    }
    // function dowloadPSURL(){
    //     location.href =  '{{ psURL }}';
    // }

    // function dowloadXSURL(){
    //     location.href =  '{{ xsURL }}';
    // }


       function selectPS(city){
        var startTime = document.getElementById("start").value;
        var endTime = document.getElementById("end").value;
        var name = city+"配送明细"+ startTime+"-" +endTime + "";
//         location.href = '/selectPS?filename='+name+ "&startTime=" + startTime+ "&endTime=" + endTime+ "&city="+city ;
// console.log('/selectPS?filename='+name+ "&startTime=" + startTime+ "&endTime=" + endTime+ "&city="+city);

        $.ajax({
            type: "GET",
            url: '/selectPS?filename='+name+ "&startTime=" + startTime+ "&endTime=" + endTime+ "&city="+city,
            dataType: "json",
            success: function(result) {
                  console.log("success--:"+result+result.filepath);
                $(".downloadbtnps").html(result.filepath);
                $(".downloadbtnps").attr("href",result.filepath);
                window.open(name+'.xlsx');
            }
        })


        // window.open(name+'.xlsx');
    }

    function selectXS(city,type){
        var startTime = document.getElementById("start").value;
        var endTime = document.getElementById("end").value;
        var name = city+"销售明细"+ startTime+"-" +endTime + type;
        // location.href = "/selectXS?filename="+name+ "&startTime=" + startTime+ "&endTime=" + endTime+ "&city="+city + "&type="+type;
        // window.open(name+'.xlsx');

        $.ajax({
            type: "GET",
            url: "/selectXS?filename="+name+ "&startTime=" + startTime+ "&endTime=" + endTime+ "&city="+city + "&type="+type,
            dataType: "json",
            success: function(result) {
                  console.log("success--:"+result+result.filepath);
                $(".downloadbtnps").html(result.filepath);
                $(".downloadbtnps").attr("href",result.filepath);
                window.open(name+'.xlsx');
            }
        })
    }


    function selectXSXD(){
        var startTime = document.getElementById("start").value;
        var endTime = document.getElementById("end").value;
        var name = "北京销售明细"+ startTime+"-" +endTime + "下单";
        location.href = '/selectXS?filename='+name+ "&startTime=" + startTime+ "&endTime=" + endTime;
    }


    function bjpsmxqs(){
        var startTime = document.getElementById("start").value;
        var endTime = document.getElementById("end").value;
        var name = "北京销售明细"+ startTime+"-" +endTime + "签收";
        location.href = '/bjpsmxqs?filename='+name+ "&startTime=" + startTime+ "&endTime=" + endTime;
    }


    function selectQB(){
        var startTime = document.getElementById("start").value;
        var endTime = document.getElementById("end").value;
        var name = "券包"+ startTime+"-" +endTime ;
        // location.href = "/selectXS?filename="+name+ "&startTime=" + startTime+ "&endTime=" + endTime+ "&city="+city + "&type="+type;
        // window.open(name+'.xlsx');

        $.ajax({
            type: "GET",
            url: "/selectQB?filename="+name+ "&startTime=" + startTime+ "&endTime=" + endTime,
            dataType: "json",
            success: function(result) {
                  console.log("success--:"+result+result.filepath);
                $(".downloadbtnps").html(result.filepath);
                $(".downloadbtnps").attr("href",result.filepath);
                window.open(name+'.xlsx');
            }
        })
    }
function dotest(params) {
    var name = document.getElementById("test").value;
    console.log(name);
    // console.log("44444");
    // location.href = 'http://101.200.188.167:3001/doSelect?filename=testtest&sqlstr=select%20dir_id,dir_code%20from%20pm_dir_info%20limit%20100';
     location.href = '/doSelect?filename='+name+'&sqlstr=select%20dir_id,dir_code%20from%20pm_dir_info%20limit%20100';
    //  location.href = '/'+name+'.xlsx';
}
</script>
</html>